<launch>

<arg name = "robot" doc = " 0 makes the machine as turtle, 1 the computer" />


 <group if="$(arg robot)">
 <machine name="turtlebot" address="turtlebot5" user="student" env-loader="/home/student/vishwajeet_ws/install/env.sh" />
 </group>

 <group unless="$(arg robot)">
 <machine name="turtlebot" address="localhost"   user="student"/>
 </group>

<node machine ="turtlebot" pkg="rosserial_python" type="serial_node.py" name ="serial">
<param name="port" value="/dev/ttyACM0"/>
<param name="baud" value="115200"/>
</node>

</launch>


