<launch>

<rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />  
<param name="robot_description" command= "$(find xacro)/xacro '$(find nuturtle_description)/urdf/diff_drive.urdf.xacro'" /> 

<!-- starts the node- joint state publisher node. it reads robot_description parameter and published Jointstatemessage
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <param name="robot_description" command= "$(find xacro)/xacro '$(find nuturtle_description)/urdf/diff_drive.urdf.xacro'" /> 

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <param name="use_gui" value="true" />
-->

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuturtle_description)/config/urdf.rviz" required="true" />

</launch>
