<launch>
   <include file="$(find nuturtle_robot)/launch/follow_waypoints.launch">
   <arg name = "robot" value = "$(arg robot)"  doc = " 0 makes the machine as turtle, 1 the computer"/>
   </include>
   <include file="$(find nuturtle_gazebo)/launch/diff_drive_gazebo.launch">
   </include>

</launch>